@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
p {
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
	font-weight: 700;
}

:root {
	font-size: 14px;

	--color-button-text: #fff;
	--color-accent: #fd4d4d;
	--color-accent-hover: #fd6868;
	--color-accent-disabled: #f5bfbf;
	--screen-height-reduction: 0px;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.4rem;
}

p {
	font-size: 1rem;
	font-weight: 500;
}

p.small {
	font-size: 0.85rem;
}

/* for firefox */
* {
	scrollbar-width: thin;
}

/* for non-firefox */
::-webkit-scrollbar {
	background-color: var(--color-accent-disabled);
	overflow: overlay;
	width: 8px;
	/* shouldnt hardcode width, pls find way to make it dynamic, thin wasn't working for me...*/
}

::-webkit-scrollbar-track {
	display: initial;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-accent);
	border-radius: 5px;
}

html,
body,
main {
	height: 100%;
	width: 100%;
	display: flex;
}

audio {
	width: 0;
	display: none !important;
}

html {
	position: fixed;
}

main {
	overflow-y: auto;
}

.h-screen {
	height: calc(100vh - var(--screen-height-reduction));
}

button:focus {
	outline: none;
}
